openapi: 3.1.0
info:
  title: vLex Iceberg Anonymization Citations API
  description: The vLex Iceberg Anonymization API identifies and anonymizes names and personally identifiable information from any text input. Pre-trained on legal data to recognize personal names, organizations, and sensitive entities within legal documents, contracts, and court filings for privacy protection and data compliance workflows.
  version: 1.0.0
  contact:
    name: vLex Developer Support
    url: https://developer.vlex.com/
  license:
    name: Proprietary
    url: https://vlex.com/
servers:
- url: https://api.vlex.com
  description: vLex Iceberg API
tags:
- name: Citations
  description: Detect and resolve legal citations (vCite)
paths:
  /v1/citations:
    post:
      operationId: detectCitations
      summary: Detect Legal Citations
      description: Detect and parse legal citations from text using vLex's vCite algorithm. Supports citation formats from 20+ jurisdictions. Returns structured citation data with links to referenced documents where available.
      tags:
      - Citations
      security:
      - SubscriptionKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CitationRequest'
      responses:
        '200':
          description: Detected citations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Invalid or missing subscription key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Citation:
      type: object
      description: A detected legal citation.
      properties:
        raw_text:
          type: string
          description: Citation text as found in the document.
          example: 347 U.S. 483 (1954)
        document_id:
          type: string
          description: vLex ID of the referenced document, if resolved.
        citation_type:
          type: string
          description: Type of citation (case, statute, regulation, etc.).
        jurisdiction:
          type: string
        year:
          type: integer
        start_offset:
          type: integer
        end_offset:
          type: integer
        url:
          type: string
          format: uri
          description: Link to the cited document on vlex.com.
    CitationRequest:
      type: object
      required:
      - text
      properties:
        text:
          type: string
          description: Legal text containing citations to detect.
        jurisdiction:
          type: string
          description: Primary jurisdiction for citation parsing (helps with ambiguous formats).
    CitationResponse:
      type: object
      properties:
        citations:
          type: array
          items:
            $ref: '#/components/schemas/Citation'
        citation_count:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  securitySchemes:
    SubscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: vLex API subscription key obtained from the developer portal.
externalDocs:
  description: vLex Developer Portal
  url: https://developer.vlex.com/apis
