openapi: 3.1.0
info:
  title: vLex Iceberg Anonymization Documents API
  description: The vLex Iceberg Anonymization API identifies and anonymizes names and personally identifiable information from any text input. Pre-trained on legal data to recognize personal names, organizations, and sensitive entities within legal documents, contracts, and court filings for privacy protection and data compliance workflows.
  version: 1.0.0
  contact:
    name: vLex Developer Support
    url: https://developer.vlex.com/
  license:
    name: Proprietary
    url: https://vlex.com/
servers:
- url: https://api.vlex.com
  description: vLex Iceberg API
tags:
- name: Documents
  description: Retrieve individual legal documents
paths:
  /v1/documents/{document_id}:
    get:
      operationId: getDocument
      summary: Get Legal Document
      description: Retrieve a specific legal document by its vLex ID, including full text, metadata, and citation data.
      tags:
      - Documents
      security:
      - SubscriptionKey: []
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: vLex document identifier
      responses:
        '200':
          description: Legal document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalDocument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Invalid or missing subscription key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Document not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Citation:
      type: object
      description: A detected legal citation.
      properties:
        raw_text:
          type: string
          description: Citation text as found in the document.
          example: 347 U.S. 483 (1954)
        document_id:
          type: string
          description: vLex ID of the referenced document, if resolved.
        citation_type:
          type: string
          description: Type of citation (case, statute, regulation, etc.).
        jurisdiction:
          type: string
        year:
          type: integer
        start_offset:
          type: integer
        end_offset:
          type: integer
        url:
          type: string
          format: uri
          description: Link to the cited document on vlex.com.
    LegalDocument:
      type: object
      description: A full legal document from the vLex corpus.
      properties:
        id:
          type: string
        title:
          type: string
        document_type:
          type: string
        jurisdiction:
          type: string
        date:
          type: string
          format: date
        language:
          type: string
        full_text:
          type: string
          description: Full text of the legal document.
        metadata:
          type: object
          description: Additional document metadata (court, parties, docket number, etc.).
          additionalProperties: true
        citations:
          type: array
          items:
            $ref: '#/components/schemas/Citation'
        url:
          type: string
          format: uri
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  securitySchemes:
    SubscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: vLex API subscription key obtained from the developer portal.
externalDocs:
  description: vLex Developer Portal
  url: https://developer.vlex.com/apis
