openapi: 3.2.0
info:
  title: vLex Iceberg Legal Research Classification API
  description: The vLex Iceberg Legal Research API provides AI-powered access to legal documents, case law, statutes, and regulations from global jurisdictions. Capabilities include semantic document search, AI classification, key phrase extraction, and citation detection (vCite). The corpus spans 100+ million documents from 2,000+ multilingual sources.
  version: 1.0.0
  contact:
    name: vLex Developer Support
    url: https://developer.vlex.com/
  license:
    name: Proprietary
    url: https://vlex.com/
servers:
- url: https://api.vlex.com
  description: vLex Iceberg Legal Research API
tags:
- name: Classification
  description: Classify legal documents and extract key phrases
paths:
  /v1/classify:
    post:
      operationId: classifyDocument
      summary: Classify Legal Document
      description: Classify a legal text into practice areas, document types, and extract key legal phrases. Uses IceNet, vLex's legal classification algorithm trained on millions of legal documents.
      tags:
      - Classification
      security:
      - SubscriptionKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassifyRequest'
      responses:
        '200':
          description: Classification results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/key-phrases:
    post:
      operationId: extractKeyPhrases
      summary: Extract Key Phrases
      description: Extract significant legal key phrases, terms of art, and important concepts from a legal text. Returns ranked phrases with context.
      tags:
      - Classification
      security:
      - SubscriptionKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyPhrasesRequest'
      responses:
        '200':
          description: Key phrases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyPhrasesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ClassifyResponse:
      type: object
      properties:
        practice_areas:
          type: array
          items:
            $ref: '#/components/schemas/Classification'
          description: Detected legal practice areas.
        document_type:
          $ref: '#/components/schemas/Classification'
        key_concepts:
          type: array
          items:
            type: string
          description: Key legal concepts identified.
    KeyPhrasesRequest:
      type: object
      required:
      - text
      properties:
        text:
          type: string
          minLength: 50
          maxLength: 100000
        max_phrases:
          type: integer
          default: 20
          maximum: 100
        language:
          type: string
          default: en
    KeyPhrasesResponse:
      type: object
      properties:
        key_phrases:
          type: array
          items:
            $ref: '#/components/schemas/KeyPhrase'
        processing_time_ms:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    ClassifyRequest:
      type: object
      required:
      - text
      properties:
        text:
          type: string
          description: Legal text to classify.
          minLength: 50
          maxLength: 100000
        language:
          type: string
          default: en
    Classification:
      type: object
      properties:
        label:
          type: string
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
    KeyPhrase:
      type: object
      properties:
        phrase:
          type: string
        score:
          type: number
          format: float
        occurrences:
          type: integer
  responses:
    Unauthorized:
      description: Invalid or missing subscription key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    SubscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: vLex API subscription key from the developer portal.
externalDocs:
  description: vLex Developer Portal
  url: https://developer.vlex.com/apis
